@import 'mixins';
@import 'variables';
@import 'animations';

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

.landing-content {
    display: flex;
    flex-wap: wrap;
    width: 100vw;
    height: 90vh;
    background: #fff;
    justify-content: center;
    align-items: center;

    .landing-items {
        text-align: center;
        width: 450px;
        height: auto;

        .landing-title {
            font-family: 'Playfair Display', serif;
            font-size: 50px;
            font-weight: 300;
            letter-spacing: 1px;
        }

        .landing-description {
            letter-spacing: 1.5px;
            margin-bottom: 26.8px;
        }

        .landing-arrow {
            margin: 0 auto;
            height: 20px;
            width: 20px;
            background: #171716;
            @include rotate(45deg);
        }
    }

}

.main-content {
    min-height: 100vh;
    display: flex;
    @include flex-wrap;

    .half {
        width: 50%;
        height: 100%;
        padding: 0;
        float: right;
    }

    .left-half {
        @extend .half;
        @include box-sizing;
        .landing-img {
            margin-top: 150px;
            margin-right: 50px;
            height: 400px;
            width: auto;
            border-radius: 4px;
        }
    }

    .right-half {
        @extend .half;
        @include box-sizing;
        padding: 50px;
        letter-spacing: $base-letter-spacing;

        h3 {
            font-weight: 100;
        }

        p {
            margin: 50px auto;
            max-width: 400px;
            line-height: 35px;
        }

    }
}

.skillset {
    min-height: 80vh;

    h3 {
        margin-left: 50px;
        max-width: 550px;
        font-weight: 100;
    }

    .skillset-container {
        max-width: 600px;
        height: auto;
        margin: 50px auto 0;
        display: flex;
        @include flex-wrap;
         justify-content: center;

        .skill {
            margin: 25px;
            font-family: 'devicons';
            font-size: 65px;
        }
    }
}

.portfolio {
    min-height: 90vh;
    @include box-sizing;
    display: flex;
    @include flex-wrap;

    h3 {
        margin-left: 50px;
        max-width: 350px;
        font-weight: 100;
    }

    .project-container {
        width: 100%;
        height: 100%;
        -webkit-justify-content: center;
        justify-content: center;
        display: flex;
        @include flex-wrap;

        .project {
            background: pink;
            margin: 10px;
            padding: 0;
            width: 240px;
            height: 240px;
            -webkit-filter: grayscale(100%);

            &:hover {
                -webkit-filter: grayscale(0);
            }

            img {
                height: 100%;
                width: 100%;
            }

        }
    }

}

@media (max-width: 900px) {
    .main-content {
        .left-half {
            display: none ;
        }

        .right-half {
            width: 100%;
        }
    }
}